/**
 * Created by Prashamsa Pandey
 * Email: pzp0052@auburn.edu
*/

@import "components/fonts_and_colors";

/*------------------------------------ Site Wide Starts -----------------------------------*/

/*------------------------------------- Site Wide Ends ------------------------------------*/

/*--------------------------------- Header Wrapper Starts ---------------------------------*/
/*--------------------------------- Header Wrapper Starts ---------------------------------*/

/*-------------------------------- Content Wrapper Starts ---------------------------------*/
/*--------------------------------- Content Wrapper Ends ----------------------------------*/

/*--------------------------------- Footer Wrapper Starts ---------------------------------*/
/*---------------------------------- Footer Wrapper Ends ----------------------------------*/

/*----------------------------------- Components Starts -----------------------------------*/
/*------------------------------------ Components Ends ------------------------------------*/

/*---------------------------------- Slick Slider Starts ----------------------------------*/
/*----------------------------------- Slick Slider Ends -----------------------------------*/

/*------------------------------------- Mcustom Starts ------------------------------------*/
/*-------------------------------------- Mcustom Ends -------------------------------------*/

@media all and (max-width: 1600px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container{

  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/

  /*-------------------------------- Content Wrapper Starts ---------------------------------*/

  /*--------------------------------- Content Wrapper Ends ----------------------------------*/

  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/

  /*----------------------------------- Components Starts -----------------------------------*/
  /*------------------------------------ Components Ends ------------------------------------*/

  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  /*----------------------------------- Slick Slider Ends -----------------------------------*/

  /*------------------------------------- Mcustom Starts ------------------------------------*/
  /*-------------------------------------- Mcustom Ends -------------------------------------*/
}


@media all and (max-width: 1399px) {

}

@media all and (max-width: 1199px) {
  #header-wrapper {
    .bottom-header {
      ul {
        li {
          font-size: 15px;

          &:not(:last-of-type) {
            margin-right: 40px;
          }
        }
      }
    }
  }
  body {
    font-size: 14px;
  }
  #content-wrapper {
    #home-page {
      .speciality-section {
        .areas-container {
          .areas-item {
            width: 50%;
          }
        }
      }
    }
  }
}
@media all and (max-width: 991px) {
  #header-wrapper{
    .mobile-header {
      display: block;
    }
  }

  #content-wrapper{
    #home-page{
      .introduction-section{
        .about-description{
          .description-container{
            margin: -20px;
            .description-item {
              padding: 20px;
            }
          }
        }
      }

      .speciality-section{
        .areas-container{
          .areas-item {
            width: 100%;
          }
        }
      }
    }
  }

  .custom-container {
    padding: 30px 60px;
  }
  h1{
    font-size: 36px;
  }
  h2 {
    font-size: 26px;
  }
  h3{
    font-size: 22px;
  }
  h4{
    font-size: 18px;
  }
  h5{
    font-size: 16px;
  }
  #header-wrapper {
    .main-logo{
      font-size: 25px !important;
      padding-left: 0 !important;
      font-weight: 500;
      font-family: "Roboto Condensed", sans-serif;
      background: $color-blue !important;
    }

    .topnav {
      overflow: hidden;
      background-color: #333;
      position: relative;
      #myLinks {
        display: none;
      }

      a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 14px;
        display: block;
        &.icon {
          background: $color-blue;
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          i{
            font-size: 20px;
          }
        }
      }

      &.active {
        background-color: $color-blue;
        color: white;
      }
    }

    //.topnav a:hover {
    //  background-color: transparent;
    //  color: black;
    //}

    .top-header, .bottom-header{
      display: none;
    }
  }

  #footer-wrapper{
    .copyright-section {
      font-size: 12px;
    }
  }
}

@media all and (max-width: 767px) {
  .contact-header{
    ul{
      li{
        a {
          font-size: 10px;
        }
      }
    }
  }

  .custom-container {
    padding: 30px 40px;
  }

  #content-wrapper{
    #home-page{
      .introduction-section{
        .basic-information{
          ul{
            li {
              width: 100%;
            }
          }
        }

        .about-description{
          .description-container{
            .description-item {
              width: 100% !important;
            }
          }
        }
      }
    }
  }

  .common-listing-section{
    .students-container{
      margin: -20px;
      .student-item {
        width: 100%;
        padding: 20px;
      }
    }
  }

  #footer-wrapper{
    .copyright-section {
      text-align: center;
    }
  }
}





