/**
 * Created by Prashamsa Pandey
 * Email: pzp0052@auburn.edu
*/

@import "components/fonts_and_colors";

/*------------------------------------ Site Wide Starts -----------------------------------*/

/*------------------------------------- Site Wide Ends ------------------------------------*/

/*--------------------------------- Header Wrapper Starts ---------------------------------*/
/*--------------------------------- Header Wrapper Starts ---------------------------------*/

/*-------------------------------- Content Wrapper Starts ---------------------------------*/
/*--------------------------------- Content Wrapper Ends ----------------------------------*/

/*--------------------------------- Footer Wrapper Starts ---------------------------------*/
/*---------------------------------- Footer Wrapper Ends ----------------------------------*/

/*----------------------------------- Components Starts -----------------------------------*/
/*------------------------------------ Components Ends ------------------------------------*/

/*---------------------------------- Slick Slider Starts ----------------------------------*/
/*----------------------------------- Slick Slider Ends -----------------------------------*/

/*------------------------------------- Mcustom Starts ------------------------------------*/
/*-------------------------------------- Mcustom Ends -------------------------------------*/

@media all and (max-width: 1600px) {
  /*------------------------------------ Site Wide Starts -----------------------------------*/
  .custom-container{

  }
  /*------------------------------------- Site Wide Ends ------------------------------------*/

  /*--------------------------------- Header Wrapper Starts ---------------------------------*/
  /*--------------------------------- Header Wrapper Starts ---------------------------------*/

  /*-------------------------------- Content Wrapper Starts ---------------------------------*/

  /*--------------------------------- Content Wrapper Ends ----------------------------------*/

  /*--------------------------------- Footer Wrapper Starts ---------------------------------*/
  /*---------------------------------- Footer Wrapper Ends ----------------------------------*/

  /*----------------------------------- Components Starts -----------------------------------*/
  /*------------------------------------ Components Ends ------------------------------------*/

  /*---------------------------------- Slick Slider Starts ----------------------------------*/
  /*----------------------------------- Slick Slider Ends -----------------------------------*/

  /*------------------------------------- Mcustom Starts ------------------------------------*/
  /*-------------------------------------- Mcustom Ends -------------------------------------*/
}


@media all and (max-width: 1399px) {

}

@media all and (max-width: 1199px) {
  #header-wrapper {
    .bottom-header {
      ul {
        li {
          font-size: 15px;

          &:not(:last-of-type) {
            margin-right: 40px;
          }
        }
      }
    }
  }
  body {
    font-size: 14px;
  }
  #content-wrapper {
    #home-page {
      .speciality-section {
        .areas-container {
          .areas-item {
            width: 50%;
          }
        }
      }
    }
  }
}
@media all and (max-width: 991px) {
  #header-wrapper{
    .mobile-header {
      display: block;
    }
  }

  #content-wrapper{
    #home-page{
      .introduction-section{
        .about-description{
          .description-container{
            margin: -20px;
            .description-item {
              padding: 20px;
            }
          }
        }
      }

      .speciality-section{
        .areas-container{
          .areas-item {
            width: 100%;
          }
        }
      }
    }
  }

  .custom-container {
    padding: 30px 60px;
    max-width: 1920px;
    margin: auto;
  }
  h1{
    font-size: 36px;
  }
  h2 {
    font-size: 26px;
  }
  h3{
    font-size: 22px;
  }
  h4{
    font-size: 18px;
  }
  h5{
    font-size: 16px;
  }
#header-wrapper {
  .mobile-header {
   // display: block;
  }
}

  .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }

  .topnav #myLinks {
    display: none;
  }

  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav{
    .active {
      background-color: $color-blue;
      color: white;
    }
  }

  .top-header, .bottom-header{
    display: none;
  }
}

@media all and (max-width: 767px) {
  #content-wrapper{
    #home-page{
      .introduction-section{
        .basic-information{
          ul{
            li {
              width: 100%;
            }
          }
        }

        .about-description{
          .description-container{
            .description-item {
              width: 100% !important;
            }
          }
        }
      }
    }
  }

  .common-listing-section{
    .students-container{
      margin: -20px;
      .student-item {
        width: 100%;
        padding: 20px;
      }
    }
  }
}





