/**
 * Created by Prashamsa Pandey
 * Email: pzp0052@auburn.edu
*/
/*-------------------------------------- Fonts Starts -------------------------------------*/
/*--------------------------------------- Fonts Ends --------------------------------------*/
/*------------------------------------- Colors Starts -------------------------------------*/
/*-------------------------------------- Colors Ends --------------------------------------*/
/*-------------------------------------- Mixins Starts ------------------------------------*/
.ex-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

.ex-flex-wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

.ex-vertical {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.ex-transition {
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -ms-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease; }

.ex-transition-medium {
  -webkit-transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -ms-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  transition: all 1.2s ease; }

.ex-transition-large {
  -webkit-transition: all 1.8s ease;
  -moz-transition: all 1.8s ease;
  -ms-transition: all 1.8s ease;
  -o-transition: all 1.8s ease;
  transition: all 1.8s ease; }

/*--------------------------------------- Mixins Ends -------------------------------------*/
/*------------------------------------ Site Wide Starts -----------------------------------*/
/*------------------------------------- Site Wide Ends ------------------------------------*/
/*--------------------------------- Header Wrapper Starts ---------------------------------*/
.contact-header {
  background-color: #333333; }
  .contact-header ul {
    display: flex;
    justify-content: flex-end; }
    .contact-header ul li a {
      color: white;
      font-size: 14px;
      transform: scale(0.9);
      display: block;
      transition: all 0.6s ease; }
      .contact-header ul li a:hover, .contact-header ul li a:focus {
        transform: scale(1);
        transition: all 0.6s ease; }
    .contact-header ul li span {
      margin-right: 5px; }
    .contact-header ul li:not(:last-of-type) {
      margin-right: 15px; }
  .contact-header .custom-container {
    padding-top: 12px;
    padding-bottom: 12px; }

#header-wrapper {
  background-color: #03244D; }
  #header-wrapper .top-header {
    border-bottom: 2px solid #fff; }
    #header-wrapper .top-header h1, #header-wrapper .top-header h2 {
      color: #fff;
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 500; }
      #header-wrapper .top-header h1 a, #header-wrapper .top-header h2 a {
        color: #fff; }
    #header-wrapper .top-header h2 {
      margin-top: 10px; }
  #header-wrapper .bottom-header ul {
    display: flex; }
    #header-wrapper .bottom-header ul li a {
      color: white;
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 500;
      display: block;
      position: relative;
      padding-bottom: 5px; }
      #header-wrapper .bottom-header ul li a:after {
        content: '';
        position: absolute;
        height: 2px;
        width: 0;
        left: 0;
        bottom: 0;
        background-color: #fff;
        transition: all 0.6s ease; }
      #header-wrapper .bottom-header ul li a:hover:after, #header-wrapper .bottom-header ul li a:focus:after {
        width: 100%;
        transition: all 0.6s ease; }
    #header-wrapper .bottom-header ul li:not(:last-of-type) {
      margin-right: 70px; }
  #header-wrapper .mobile-header {
    display: none; }

/*--------------------------------- Header Wrapper Starts ---------------------------------*/
/*-------------------------------- Content Wrapper Starts ---------------------------------*/
#content-wrapper #home-page .introduction-section .basic-information {
  margin-bottom: 50px; }
  #content-wrapper #home-page .introduction-section .basic-information ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0; }
    #content-wrapper #home-page .introduction-section .basic-information ul li {
      width: 50%; }
      #content-wrapper #home-page .introduction-section .basic-information ul li a {
        color: #333; }
      #content-wrapper #home-page .introduction-section .basic-information ul li:first-of-type {
        font-weight: bold;
        width: 100%; }
      #content-wrapper #home-page .introduction-section .basic-information ul li:not(:last-of-type) {
        padding-bottom: 20px; }
      #content-wrapper #home-page .introduction-section .basic-information ul li span {
        padding-right: 10px; }
#content-wrapper #home-page .introduction-section .about-description .description-container {
  display: flex;
  flex-wrap: wrap;
  margin: -30px; }
  #content-wrapper #home-page .introduction-section .about-description .description-container .description-item {
    padding: 30px;
    width: 30%; }
    #content-wrapper #home-page .introduction-section .about-description .description-container .description-item .image-container {
      padding-bottom: 130%;
      position: relative; }
      #content-wrapper #home-page .introduction-section .about-description .description-container .description-item .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0; }
    #content-wrapper #home-page .introduction-section .about-description .description-container .description-item:nth-of-type(2) {
      width: 70%; }
#content-wrapper #home-page .speciality-section {
  background-color: #dfdfdf40; }
  #content-wrapper #home-page .speciality-section .areas-container {
    display: flex;
    flex-wrap: wrap;
    margin: -30px; }
    #content-wrapper #home-page .speciality-section .areas-container .areas-item {
      width: 33.33%;
      padding: 30px; }
      #content-wrapper #home-page .speciality-section .areas-container .areas-item .inner {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #03244D;
        padding: 40px;
        border-radius: 20px;
        text-align: center; }
        #content-wrapper #home-page .speciality-section .areas-container .areas-item .inner h4 {
          color: white; }
#content-wrapper #research-page .funding-sources .funding-container .funding-item {
  display: flex;
  align-items: center; }
  #content-wrapper #research-page .funding-sources .funding-container .funding-item .inner {
    margin: auto;
    display: block;
    text-align: center; }
  #content-wrapper #research-page .funding-sources .funding-container .funding-item img {
    width: 250px;
    height: auto; }
#content-wrapper #teaching-page .teaching-section .tab-content {
  margin-top: 30px; }
  #content-wrapper #teaching-page .teaching-section .tab-content ul li {
    list-style: disc; }
    #content-wrapper #teaching-page .teaching-section .tab-content ul li:not(:last-of-type) {
      margin-bottom: 15px; }

/*--------------------------------- Content Wrapper Ends ----------------------------------*/
/*--------------------------------- Footer Wrapper Starts ---------------------------------*/
#footer-wrapper {
  background-color: #03244D; }
  #footer-wrapper ul {
    text-align: center; }
    #footer-wrapper ul li {
      color: white; }
      #footer-wrapper ul li h4 {
        font-weight: bold; }
      #footer-wrapper ul li a {
        color: white;
        display: inline-block;
        position: relative;
        padding-bottom: 5px; }
        #footer-wrapper ul li a:after {
          content: '';
          position: absolute;
          height: 2px;
          width: 0;
          left: 0;
          bottom: 0;
          background-color: #fff;
          transition: all 0.6s ease; }
        #footer-wrapper ul li a:hover:after, #footer-wrapper ul li a:focus:after {
          width: 100%;
          transition: all 0.6s ease; }
      #footer-wrapper ul li:not(:last-of-type) {
        margin-bottom: 15px; }
  #footer-wrapper .copyright-section {
    background-color: #333333;
    color: white;
    text-align: right;
    font-size: 14px; }
    #footer-wrapper .copyright-section .custom-container {
      padding-top: 15px;
      padding-bottom: 15px; }

/*---------------------------------- Footer Wrapper Ends ----------------------------------*/
/*----------------------------------- Components Starts -----------------------------------*/
.common-remove-tab-style {
  border-bottom: 0;
  display: flex; }
  .common-remove-tab-style li {
    list-style: none !important;
    width: 33.33%;
    text-align: center;
    border-bottom: 2px solid #333333;
    position: relative; }
    .common-remove-tab-style li a {
      padding: 0;
      background-color: transparent;
      border: 0;
      color: #333;
      padding-bottom: 15px; }
      .common-remove-tab-style li a:focus, .common-remove-tab-style li a:hover {
        background-color: transparent;
        border: 0; }
      .common-remove-tab-style li a:after {
        content: '';
        position: absolute;
        width: 0;
        bottom: 0;
        background-color: #03244D;
        height: 3px;
        transition: all 0.6s ease;
        left: 0; }
    .common-remove-tab-style li a.active {
      font-weight: bold;
      background-color: transparent;
      border: 0;
      color: #03244D; }
      .common-remove-tab-style li a.active:focus, .common-remove-tab-style li a.active:hover {
        background-color: transparent;
        border: 0; }
      .common-remove-tab-style li a.active:after {
        width: 100%;
        transition: all 0.6s ease; }
  .common-remove-tab-style .nav-link {
    border: 0; }
  .common-remove-tab-style .nav-item.show .nav-link, .common-remove-tab-style .nav-link.active {
    color: #333;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    font-weight: bold; }

.common-header-breadcrumb h3 {
  border-bottom: 2px solid #03244D;
  color: #03244D;
  font-family: "Roboto Condensed", sans-serif;
  padding-bottom: 30px; }

.common-listing-section ul li {
  list-style: disc;
  margin-bottom: 20px; }
  .common-listing-section ul li span {
    font-weight: bold;
    display: block;
    margin-bottom: 10px; }
  .common-listing-section ul li a {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #03244D; }
.common-listing-section .content-section ul span {
  font-weight: bold;
  font-style: italic;
  margin-bottom: 10px;
  display: block; }
.common-listing-section .content-section ul li:not(:last-of-type) {
  margin-bottom: 20px; }
.common-listing-section .section-title h5 {
  font-weight: bold;
  margin-top: 10px; }
.common-listing-section .students-container {
  display: flex;
  flex-wrap: wrap;
  margin: -30px; }
  .common-listing-section .students-container .student-item {
    width: 50%;
    padding: 30px;
    text-align: center; }
    .common-listing-section .students-container .student-item .inner {
      padding: 40px 20px;
      box-shadow: 2px 5px 8px 2px #00000040;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap; }
      .common-listing-section .students-container .student-item .inner h3 {
        margin-bottom: 10px; }
      .common-listing-section .students-container .student-item .inner h4 {
        margin-bottom: 5px; }
      .common-listing-section .students-container .student-item .inner h3, .common-listing-section .students-container .student-item .inner h4, .common-listing-section .students-container .student-item .inner h5 {
        width: 100%; }
.common-listing-section.gray-bg {
  background-color: #dfdfdf40; }

.simple-pagination {
  display: flex;
  justify-content: center; }
  .simple-pagination ul {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
    text-align: center; }
    .simple-pagination ul li {
      display: inline-block;
      margin-right: 5px; }
      .simple-pagination ul li a, .simple-pagination ul li span {
        color: #666;
        padding: 5px 10px;
        text-decoration: none;
        border: 1px solid #EEE;
        background-color: #FFF;
        box-shadow: 0px 0px 10px 0px #EEE; }
  .simple-pagination .current {
    color: #FFF;
    background-color: #03244D;
    border-color: #03244D; }
  .simple-pagination .prev.current, .simple-pagination .next.current {
    background: #03244D; }

/*------------------------------------ Components Ends ------------------------------------*/
/*---------------------------------- Slick Slider Starts ----------------------------------*/
/*---------------------------------- Slick Slider Starts ----------------------------------*/
.slick-slider .slick-prev {
  left: 20px; }
.slick-slider .slick-next {
  right: 20px; }

/*----------------------------------- Slick Slider Ends -----------------------------------*/
/*----------------------------------- Slick Slider Ends -----------------------------------*/
/*------------------------------------- Mcustom Starts ------------------------------------*/
/*-------------------------------------- Mcustom Ends -------------------------------------*/
/*-------------------------------------- Modal Starts -------------------------------------*/
.modal-dialog {
  margin: 70px auto; }
  .modal-dialog .modal-header {
    padding: 0;
    border: 0; }
    .modal-dialog .modal-header button {
      position: absolute;
      top: -30px;
      right: 0;
      color: #fff;
      opacity: 1; }
  .modal-dialog .modal-content {
    background: black;
    border-radius: 0; }
    .modal-dialog .modal-content .modal-body {
      padding: 30px 26px; }
      .modal-dialog .modal-content .modal-body .modal-loading-gif {
        height: 130px;
        position: relative; }
        .modal-dialog .modal-content .modal-body .modal-loading-gif img {
          width: 30px;
          position: absolute;
          left: 0;
          right: 0;
          margin: auto;
          top: 50%;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%); }
      .modal-dialog .modal-content .modal-body p, .modal-dialog .modal-content .modal-body h1, .modal-dialog .modal-content .modal-body h2, .modal-dialog .modal-content .modal-body h3, .modal-dialog .modal-content .modal-body h4, .modal-dialog .modal-content .modal-body h5, .modal-dialog .modal-content .modal-body h6, .modal-dialog .modal-content .modal-body ul li, .modal-dialog .modal-content .modal-body ol li, .modal-dialog .modal-content .modal-body span {
        color: #fff; }

/*--------------------------------------- Modal Ends --------------------------------------*/

/*# sourceMappingURL=thestyles.css.map */
